
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71832172-1', 'auto');
  ga('send', 'pageview');

</script>


<!--/start section -->
    <div class="row row-white" >
	    <div class="row">
		    <div class="col-sm-12">
			    <h3>Corporate Pilots Association Registration Form</h3><hr>
		    </div>
	    </div>	    
        <div class="row">
		    <div class="col-sm-12">
		  <form class="form" id="reg-form" name="regForm">

		  <div class="row">
			<div class="form-group col-lg-4 col-md-4" ng-class="{ 'has-error': regForm.firstName.$invalid }">
				<label class="control-label" >First Name <i class="required">*</i></label>
				<input type="text" name="firstName" class="form-control" placeholder="First Name" id="fname" ng-model="newUser.firstName" required>
			</div>
			<div class="form-group col-lg-4 col-md-4" ng-class="{ 'has-error': regForm.lastName.$invalid }">
				<label class="control-label" >Last Name <i class="required">*</i></label>
				<input type="text" name="lastName" class="form-control" placeholder="Last Name" id="lname" ng-model="newUser.lastName" required>
			</div>

		</div><!--/end Row -->


		<div class="row">
			<div class="form-group col-lg-6 col-md-6" ng-class="{ 'has-error': regForm.email.$invalid }">
				<label class="control-label">Email Address <i class="required">*</i></label>
				<input type="email" name="email" class="form-control" placeholder="Email Address" id="email"  ng-model="newUser.email" required>
			</div>
			<div class="form-group col-lg-3 col-md-3" ng-class="{ 'has-error': regForm.password.$invalid }">
				<label class="control-label" >Password<i class="required">*</i></label>
				<input type="password" name="password" class="form-control" placeholder="Password" id="phone"  ng-model="newUser.password" required>
			</div>
			<div class="form-group col-lg-3 col-md-3" ng-class="{ 'has-error': regForm.password2.$invalid }">
				<label class="control-label" >Confirm Password<i class="required">*</i></label>
				<input type="password" name="password2" class="form-control" placeholder="Password" id="password2"  ng-model="newUser.password2" password-match="newUser.password" required>
				<span class="errorMessage" data-ng-show="regForm.password2.$dirty && regForm.password2.$error.passwordNoMatch && !regForm.password2.$error.required"> Password do not match.</span>
			</div>

		</div><!--/end Row -->

<!--/end contact section-->
		<div class="row">
			<div class="form-group col-md-4 col-md-offset-8">
				<button class="btn btn-default btn-block"  name="register"  ng-click="signup()" ng-disabled="regForm.$invalid">Register</button>
			</div>
		</div>
		</form> 
		    </div>
    	</div>
    </div>
<!--/end section -->

<!--/end container -->  

         


